 <div id="Badges">
    <div>
        <h6 class="card-header">Node.js</h6>
        <img src="/assets/img/nodejs.png" alt="Node.js" />
    </div>

    <div>
        <h6 class="card-header">Node Package Manager</h6>
        <img src="/assets/img/npm.png" alt="Node Package Manager" />
    </div>

    <div>
        <h6 class="card-header">SequelizeJs</h6>
        <img src="/assets/img/sequelize.png" alt="SequelizeJs" />
    </div>

     <div>
         <h6 class="card-header">Passport.js</h6>
        <img src="/assets/img/passport.png" alt="Passport.js" />
    </div>

    <div>
        <h6 class="card-header">Handlebars.js</h6>
        <img src="/assets/img/handlebars.png" alt="Handlebars.js" />
    </div>

    <div>
        <h6 class="card-header">express-fileupload</h6>
        <img src="/assets/img/express-fileupload.png" alt="Express FileUpload" />
    </div>
</div>