 <div id="Badges">
    <div>
        <img src="/assets/img/passport.png" alt="Passport.js" />
    </div>

    <div>
        <img src="/assets/img/nodejs.png" alt="Node.js" />
    </div>

    <div>
        <img src="/assets/img/npm.png" alt="Node Package Manager" />
    </div>
</div>