<nav class="nav flex-column">
    <span class="text-center mb-3">
        <img class="rounded mx-auto img-fluid" src="{{this.ownerPicture}}" alt="{{this.ownerName}}">
        {{ownerName}}
    </span>
    <div class="nav flex-column nav-pills">
        <a id="feed" class="nav-link" href="home">Feed</a>
        <a id="find-pet-friend" class="nav-link" href="pets">Find a Pet Friend</a>
    </div>
</nav>