<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#">Posts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Pets</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Friends</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Edit Profile</a>
    </li>
</ul>