<ul class="nav nav-tabs pet-margin-b-sm">
    <li class="nav-item">
        <a id="view-post" class="nav-link" href="/profile">Posts</a>
    </li>
    <li class="nav-item">
        <a id="view-pets" class="nav-link" href="/profile/view-pets">Pets</a>
    </li>
    <li class="nav-item">
        <a id="edit-profile" class="nav-link" href="/profile/edit-profile">Edit Profile</a>
    </li>
</ul>