<div class="container">
    <div class="row">
        <div class="col-md-3">
            {{> dashboardSidebar}}
        </div>
        <div class="col-md-9">
            {{> dashboardNav}}
            <div class="row">
                <div class="col">
                    <h2 class="text-left" style="display: inline-block">My Posts</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                No posts
            </div>
        </div>
    </div>
</div>