<div class="container">
    <div class="row">
        <div class="col-md-3">
            {{> userSidebar}}
        </div>
        <div class="col-md-9">
            {{> nav}}
            <div class="row">
                <div class="col">
                    <h2 class="text-left" style="display: inline-block">Friends list</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                No friends
            </div>
        </div>
    </div>
</div>