<div class="container">
    <div class="row">
        <div class="col-md-3">
            {{> dashboardSidebar}}
        </div>
        <div class="col-md-9">
            {{> dashboardNav}}
            <div class="row">
                <div class="col">
                    <h2 class="text-left" style="display: inline-block">My Pets</h2>
                    <button type="button" class="btn btn-primary pet-margin-b-sm pet-margin-l-sm" data-toggle="modal" data-target="#add-pet">Add a Pet</button>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="card-deck">
                    {{#each pets}}
                    <div class="card">
                        <img class="card-img-top img-fluid" src="{{picture}}" alt="{{name}}" />
                        <div class="card-body">
                            <h4 class="card-title text-center">{{name}}</h4>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="add-pet" tabindex="-1" role="dialog" aria-labelledby="add-petLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-petLabel">Add a new Pet</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form ref='uploadForm' id='AddPet' action='http://localhost:8080/api/pets' method='post' encType="multipart/form-data">

                    <div class="form-group">
                        <label for="petPicture" class="col-form-label">Picture</label>
                        <input class="form-control" type="file" name="petPicture" />
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-form-label">Name</label>
                        <input class="form-control" type="text" name="name" />
                    </div>
                    <div class="form-group">
                        <label for="type" class="col-form-label">Pet Type</label>
                        <input class="form-control" type="text" name="type" placeholder="Dog" />
                    </div>
                    <div class="form-group">
                        <label for="breed" class="col-form-label">Breed</label>
                        <input class="form-control" type="text" name="breed" placeholder="Pug" />
                    </div>
                    <div class="form-group">
                        <label for="gender" class="col-form-label">Gender</label>
                        <select name="gender" class="form-control">
                    <option name="gender" selected>Select One</option>
                    <option name="gender" value="male" >Male</option>
                    <option name="gender" value="female">Female</option>
                    </select>
                    </div>
                    <div class="form-group">
                        <label for="age" class="col-form-label">Age</label>
                        <input class="form-control" name="age" type="text" />
                    </div>
                    <div class="form-group">
                        <label for="bio">Bio</label>
                        <input class="form-control" name="bio" type="text" />
                    </div>

                    <input type="hidden" name="ownerId" value="{{ownerId}}" />
                    <input type='submit' class="btn btn-primary" value='ADD' id="upload" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>