<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="/dashboard">Posts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/dashboard/view-my-pets">Pets</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/view-friends">Friends</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/edit-profile">Edit Profile</a>
    </li>
</ul>