<div class="container">
    <div class="row">
        <div class="col-md-3">
            {{> userSidebar}}
        </div>
        <div class="col-md-9">
            {{> nav}}
        </div>
        <hr>
    </div>
</div>