  <main id="HomeMain">
    <div id="HomeTable">

      <div id="ImageContainer"></div>

      <div id="SignUpForm">
            <div class="col-md-12 order-md-1 text-center text-md-left form">
              <h2 class="mb-3">Find Friends For Your Pets</h2>
              <h5>Sign Up</h5>
              <form id="signup" name="signup" method="post" action="/signup">
                <div class="form-group">
                  <label for="email" class="col-form-label">Email</label>
                  <input type="email" class="form-control" name="email" placeholder="Email">
                </div>  
                <div class="form-group">
                  <label for="name" class="col-form-label">Name</label>
                  <input type="text" class="form-control" name="name" placeholder="Name">
                </div>
                <div class="form-group">
                  <label for="password" class="col-form-label">Password</label>
                  <input class="form-control" name="password" type="password" placeholder="Password" />
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="location" class="col-form-label">Location</label>
                    <input type="text" class="form-control" name="location" placeholder="City">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="gender" class="col-form-label">Gender</label>
                    <select name="gender" class="form-control">
                <option name="gender" selected>Select One</option>
                <option name="gender" value="male" >Male</option>
                <option name="gender" value="female">Female</option>
              </select>
                  </div>
                  <div class="form-group col-md-2">
                    <label for="age" class="col-form-label">Age</label>
                    <input class="form-control" name="age" type="text" />
                  </div>
                </div>
                <div class="form-group">
                  <label for="bio">Bio</label>
                  <textarea class="form-control" name="bio" type="text" rows="3">{{ownerBio}}</textarea>
                </div>
                <div class="form-group text-right">
                  <button type="submit" class="btn btn-primary">Sign Up</button>
                </div>
              </form>
            </div>
      </div>
    </div>

  </main>