<!DOCTYPE html>
<html>
 
<head>
    <title></title>
</head>
 
<body>
    <form id="signup" name="signup" method="post" action="/signup">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="email" /><br>
        <label for="name">Name</label>
        <input name="name" type="text" /><br>
        <label for="picture">Picture</label>
        <input name="picture" type="text" /><br>
        <label for="location">Location</label>
        <input name="location" type="text" /><br>
        <label for="gender">Gender</label>
        <input name="gender" type="text" /><br>
        <label for="age">Age</label>
        <input name="age" type="text" /><br>
        <label for="bio">Bio</label>
        <input name="bio" type="text" /><br>
        <label for="password">Password</label>
        <input name="password" type="password" /><br>
        <input class="btn" type="submit" value="Sign Up" />
    </form>
 
</body>
 
</html>